<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>livtripmanager</contextName>
    <property name="LOG_CHARSET" value="UTF-8"/>
    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_LEVEL" value="DEBUG" />

    <!-- 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>


    <!-- common -->
    <appender name="common" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/livtripmanager-common.log</File>
        <Encoding>${LOG_CHARSET}</Encoding>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_PATH}/livtripmanager-common-%d{yyyy-MM-dd}.%i.log
            </FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>


    <!-- dal -->
    <appender name="dal" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/livtripmanager-dal.log</File>
        <Encoding>${LOG_CHARSET}</Encoding>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_PATH}/livtripmanager-dal-%d{yyyy-MM-dd}.%i.log
            </FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>


    <!-- biz -->
    <appender name="biz" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/livtripmanager-biz.log</File>
        <Encoding>${LOG_CHARSET}</Encoding>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_PATH}/livtripmanager-biz-%d{yyyy-MM-dd}.%i.log
            </FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- error -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/livtripmanager-error.log</File>
        <Encoding>${LOG_CHARSET}</Encoding>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_PATH}/livtripmanager-error-%d{yyyy-MM-dd}.%i.log
            </FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- commom package -->
    <logger name="com.livtrip.common" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="common"/>
        <appender-ref ref="error"/>
    </logger>


    <!-- dal package -->
    <logger name="com.livtrip.dal" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="dal"/>
        <appender-ref ref="error"/>
    </logger>


    <!-- biz package -->
    <logger name="com.livtrip.biz" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="biz"/>
        <appender-ref ref="error"/>
    </logger>


    <logger name="logback">
        <level value="ERROR"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="error"/>
    </root>

</configuration>